.product_description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
}

.product_page_header {
  font-size: 20px;
  line-height: 23px;
  flex-basis: 80%;
}

.product_images_carousel {
  height: 450px !important;
  margin: 0 0 20px 0;
}

.product_page_image {
  max-height: 400px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  object-fit: cover;
  object-position: center;
  margin-top: 15px;
}

.favourite_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #ffffff;
  transition: 1s;
  margin-left: 5px;
}

.product_description_header_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 10px 0 10px 0;
}

.favorite_icon {
  font-size: 35px !important;
  color: #FFD600;
}

.add_list_circular_progress {
  color: #FFD600 !important;
  width: 47px !important;
  height: 47px !important;
}