.product_description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
  }

  .product_page_header {
    font-size: 20px;
    line-height: 23px;
    margin-top: 22px;
    margin: 0 0 20px 0;
  }

  .product_images_carousel {
    height: 250px !important;
    margin: 0 0 20px 0;
  }

  .product_page_image {
    height: 200px;
    margin-top: 15px;
  }