.text_field {
  width: 100%;
}

.cities_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city_cards_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 16px 0 0 0;
}
