@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.page-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header-text {
  font-size: 24px;
  line-height: 28px;
}

.city-text {
  font-size: 18px;
  line-height: 21px;
}

.flex-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 5px;
}

.flex-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.product-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media (max-width: 400px) {
  .product-cards {
    justify-content: center;
  }
}

.text-field {
  width: 100%;
}

.text-field .MuiInputBase-root {
  background-color: #c9ffd9;
}

.text-field .MuiInputBase-root.Mui-focused {
  background-color: #ffffff;
}

.text-field:focus {
  background-color: #ffffff;
}

.MuiButtonBase-root {
  background-color: #c9ffd9;
  border-radius: 10px;
}

.items-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
