@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.page_flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header_text {
  font-size: 24px;
  line-height: 28px;
}

.city_text {
  font-size: 18px;
  line-height: 21px;
}

.flex_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 5px;
}

.flex_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.product_cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media (max-width: 400px) {
  .product-cards {
    justify-content: center;
  }
}

.MuiButtonBase_root {
  background-color: #c9ffd9;
  border-radius: 10px;
}

.items_header {
  font-family: Roboto;
  color: #7E7E7E;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

.products {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.city_block{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.city_text {
  font-size: 14px;
  line-height: 16px;
  color: #7E7E7E;
}

.city_text:hover, .city_text:focus{
  text-decoration: underline;
  cursor: pointer;
}

.items_header_block{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location_on_icon{
  font-size: 18;
  color: #7E7E7E !important;
}

#standard-basic{
  transition: 1s ease;
  width: 100%;
}

#standard-basic:focus ~ .page_header{
  display: none;
}
