.shop_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shop_description {
  display: flex;
  flex-direction: column;
}

.shop_rating_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}

.price_text {
  font-size: 20px;
  line-height: 23px;
  margin: 10px 0 10px 0;
}

.price_name {
  font-size: 14px;
  line-height: 16px;
  margin: 10px 0 10px 0;
}

.shop_button {
  width: 120px;
  height: 35px;
  text-align: center;
}

.shop_rating {
  border-radius: 12px;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 40px;
  height: 20px;
  background-color: #38b723;
  margin: 0 10px 0 0;
}

/* .shop-rating-square {
  background-color: #38b723;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
} */

.shop_reviews_count {
  font-size: 14px;
  line-height: 14px;
}

.star_icon {
  margin: 0 5px 0 5p;
}
