.shop-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shop-description {
  display: flex;
  flex-direction: column;
}

.shop-rating-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}

.price-text {
  font-size: 20px;
  line-height: 23px;
  margin: 10px 0 10px 0;
}

.price-name {
  font-size: 14px;
  line-height: 16px;
  margin: 10px 0 10px 0;
}

.shop-button {
  width: 120px;
  height: 35px;
  text-align: center;
}

.shop-rating {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 40px;
  height: 20px;
  background-color: #38b723;
  margin: 0 10px 0 0;
}

/* .shop-rating-square {
  background-color: #38b723;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
} */

.shop-reviews-count {
  font-size: 14px;
  line-height: 14px;
}

.star-icon {
  margin: 0 5px 0 5p;
}
