.App {
  width: 100%;
  margin: auto;
}

.navigation-menu {
  height: 56px;
  background-color: #ffd600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

.menu-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 28px;
}

.MuiInputLabel-shrink {
  display: none !important;
}

.menu-header-text {
  font-size: 18px;
  line-height: 21px;
}

.default-menu-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.list-text {
  color: black;
}

a,
link {
  color: black;
}

.menu-header-text{
  margin-left: 15px;
}
