@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: none;
}

.page_flexbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.login_block{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu_navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
}
